<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kaist.crescendo"
    android:versionCode="1"
    android:versionName="1.0" 
    android:launchMode="singleInstance"
	android:excludeFromRecents="true"
	android:sharedUserId="android.uid.com.kaist.crescendo"
	android:taskAffinity="" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET" />    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
 
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/str_app_name" 
        android:theme="@style/MyAppTheme2" >
        <activity
            android:name="com.kaist.crescendo.activity.MainActivity"
            android:label="@string/str_app_name" >
        </activity>
        <activity
            android:name="com.kaist.crescendo.activity.PlansListActivity"
            android:label="@string/str_title_activity_plans_list" >
        </activity>
         <activity
            android:name="com.kaist.crescendo.activity.EntranceActivity"
            android:label="@string/str_title_welcome" >
        </activity>
         <activity
            android:name="com.kaist.crescendo.activity.RegisterEditorActivity"
            android:label="@string/str_input_register_information" >
        </activity>
        <activity
            android:name="com.kaist.crescendo.activity.PlanListActivity"
            android:label="@string/str_input_register_information" >
        </activity>
        <activity
            android:name="com.kaist.crescendo.activity.PlanEditorActivity"
            android:label="@string/str_input_register_information" >
        </activity>
        <activity
            android:name="com.kaist.crescendo.activity.FriendsListActivity"
            android:label="@string/str_input_register_information" >
        </activity>
        <activity
            android:name="com.kaist.crescendo.activity.CandidateListActivity"
            android:label="@string/str_input_register_information" >
        </activity>
        <activity
            android:name="com.kaist.crescendo.activity.SettingsActivity"
            android:label="@string/str_input_register_information" >
        </activity>
        <activity
            android:name="com.kaist.crescendo.activity.PasswordActivity"
            android:label="@string/str_input_register_information" >
        </activity>
        <activity
            android:name="com.kaist.crescendo.activity.HelpsActivity"
            android:label="@string/str_input_register_information" >
        </activity>
        <activity 
            android:name="com.kaist.crescendo.activity.StatusActivity"
            android:label="@string/str_input_register_information">            
        </activity>
        <activity
            android:name="com.kaist.crescendo.activity.IntroActivity"
            android:label="@string/str_app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.callcrescendo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>           
    </application>
</manifest>